# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# DBT
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml
dbt/profiles.yml

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/unittests.cfg

# Docker
*.log

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backups
backup/
*.bak